/* Variables */
:root {
    --dark-blue: rgba(43, 57, 69, 1);
    --dark-mode-back: rgba(32, 44, 55, 1);
    --light-mode-text: rgba(17, 21, 23, 1);
    --light-mode-input: rgba(133, 133, 133, 1);
    --light-mode-back: rgba(250, 250, 250, 1);
    --white: rgba(255, 255, 255, 1);
}
/* Global reset */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Nunito', sans-serif;
    background-color: var(--light-mode-back);
    color: var(--light-mode-text);
}
*{
    margin: 0;
}

*::before, *::after {
    box-sizing: inherit;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
.body_text-semi {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
